[defaults]
#--- General settings
forks                   = 5
module_name             = command
executable              = /bin/bash
ansible_managed         = Ansible managed
gathering               = smart 

#--- Plugins 
callback_whitelist      = profile_tasks
strategy_plugins        = plugins/mitogen-0.3.3/ansible_mitogen/plugins/strategy
strategy                = mitogen_linear

#--- Files/Directory settings
inventory               = inventory
library                 = /usr/share/my_modules
remote_tmp              = ~/.ansible/tmp
local_tmp               = ~/.ansible/tmp
roles_path              = roles/

#--- Users settings
remote_user             = ubuntu
sudo_user               = root
ask_pass                = no
ask-sudo_pass           = no
deprecation_warnings	= False
interpreter_python	    = auto_silent

#--- SSH settings
remote_port             = 22
timeout                 = 5
host_key_checking       = False
ssh_executable          = /usr/bin/ssh
private_key_file        = ansible-pub-aws

[privilege_scalation]

become                  = True
become_method           = sudo
become_user             = root
become_ask_pass         = False

[ssh_connection]

scp_if_ssh              = smart
transfer_method         = smart
retries                 = 3

